.headline {
  height: 20%;
  display: block;
  width: 100%;
  text-align: center;
}

.headline h1 {
    font-size: 50px;
}

.headline h2 {
    font-size: 30px;
}

#questionNumber1 {
  font-size: 30px;
}

#questionField1 {
  font-size: 20px;
  text-align: justify;
}

#blackSquares {
  margin-left: 10%;
  width: 80%;
}

#questionNumber2 {
  font-size: 30px;
}

#questionField2 {
  font-size: 20px;
  text-align: justify;
}

#lastPerceivableWord {
  margin-left: 10%;
  width: 80%;
}
