.headline h2 {
  font-size: 35px;
  margin-top: 375px;
}

#questionNumber1 {
  font-size: 30px;
}

#questionField1 {
  font-size: 20px;
  text-align: justify;
}

#blackSquares {
  width: 100%;
}

#whiteSquares {

  width: 100%;
}

#questionNumber2 {
  font-size: 30px;
}

#questionField2 {
  font-size: 20px;
  text-align: justify;
}

#lastPerceivableWord {
  margin-left: 10%;
  width: 80%;
}
