.headline {
  height: 20%;
  display: block;
  width: 100%;
  text-align: center;
}

.headline h1 {
    font-size: 50px;
}

.headline h2 {
    font-size: 30px;
}

#questionNumber {
  font-size: 30px;
}

#questionField {
  font-size: 20px;
  text-align: left;
}
