body {
  margin-top: 50px;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
.header-image {
  display: block;
  width: 100%;
  text-align: center;
  height: auto;
  max-width: 998px;
  max-height: 500px;
  background: url('../images/header.jpg') no-repeat center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.headline {
  padding: 120px 0;
}
.headline h1 {
  font-size: 130px;
  color: rgb(0, 0, 0);
}
.headline h2 {
  font-size: 77px;
  color: rgb(0, 0, 0);
}
.featurette-divider {
  margin: 80px 0;
}
.featurette {
  overflow: hidden;
}
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}
.featurette-heading {
  font-size: 50px;
}
footer {
  margin: 50px 0;
}
@media(max-width:1200px) {
  .headline h1 {
    font-size: 140px;
  }
  .headline h2 {
    font-size: 63px;
  }
  .featurette-divider {
    margin: 50px 0;
  }
  .featurette-image.pull-left {
    margin-right: 20px;
  }
  .featurette-image.pull-right {
    margin-left: 20px;
  }
  .featurette-heading {
    font-size: 35px;
  }
}
@media(max-width:991px) {
  .header-image {
    margin-top: -5%;
    background: url('../images/header720.jpg') no-repeat center scroll;
  }
  .headline h1 {
    font-size: 105px;
  }
  .headline h2 {
    font-size: 50px;
  }
  .featurette-divider {
    margin: 40px 0;
  }
  .featurette-image {
    max-width: 50%;
  }
  .featurette-image.pull-left {
    margin-right: 10px;
  }
  .featurette-image.pull-right {
    margin-left: 10px;
  }
  .featurette-heading {
    font-size: 30px;
  }
}
@media(max-width:768px) {
  .header-image {
    background: url('../images/header668.jpg') no-repeat center scroll;
    margin-top: -7%;
  }
  .container {
    margin: 0 15px;
  }
  .featurette-divider {
    margin: 40px 0;
  }
  .featurette-heading {
    font-size: 25px;
  }
}
@media(max-width:668px) {
  .header-image {
    background: url('../images/header640.jpg') no-repeat center scroll;
    margin-top: -7%;
  }
  .headline h1 {
    font-size: 70px;
  }
  .headline h2 {
    font-size: 32px;
  }
  .featurette-divider {
    margin: 30px 0;
  }
}
@media(max-width:640px) {
  .header-image {
    background: url('../images/header500.jpg') no-repeat center scroll;
    margin-top: -5%;
  }
  .headline {
    padding: 75px 0 25px 0;
  }
  .headline h1 {
    font-size: 60px;
  }
  .headline h2 {
    font-size: 30px;
  }
}

@media(max-width:531px) {
  .header-image {
    background: url('../images/header400.jpg') no-repeat center scroll;
    margin-top: -10%;
  }
}

@media(max-width:443px) {
  .header-image {
    background: url('../images/header375.jpg') no-repeat center scroll;
    margin-top: -10%;
  }
}

@media(max-width:417px) {
  .header-image {
    background: url('../images/header320.jpg') no-repeat center scroll;
    margin-top: -15%;
  }
}

@media(max-width:375px) {
  .header-image {
    background: url('../images/header320.jpg') no-repeat center scroll;
    margin-top: -17%;
  }
  .featurette-divider {
    margin: 10px 0;
  }
  .featurette-image {
    max-width: 100%;
  }
  .featurette-image.pull-left {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .featurette-image.pull-right {
    margin-bottom: 10px;
    margin-left: 0;
  }

}

@media(max-width:360px) {
  .header-image {
    background: url('../images/header300.jpg') no-repeat center scroll;
    margin-top: -20%;
  }
}

@media(max-width:320px) {
  .header-image {
    background: url('../images/header260.jpg') no-repeat center scroll;
    margin-top: -25%;
  }
}

#advancePT {
  margin-top: 230px;
  width: 250px;
  height: 60px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

#advanceEN {
  margin-top: 230px;
  width: 250px;
  height: 60px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lead {
  text-align: justify;
}
