.headline {
  height: 20%;
  display: block;
  width: 100%;
  text-align: center;
}

.headline h1 {
    font-size: 50px;
}

.headline h2 {
    font-size: 30px;
}

#share {
  margin-top: 2%;
  margin-left: 25%;
  margin-bottom: 2%;
}

#text_thank_contact {
  margin-top: 2%;
  margin-bottom: 2%;
}

#home {
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 250px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}
